[submodule "ZEngine"]
	path = ZEngine
	url = https://github.com/bluesillybeard/ZEngine
[submodule "ZRender"]
	path = ZRender
	url = https://github.com/bluesillybeard/ZRender
[submodule "zlm"]
	path = zlm
	url = https://github.com/ziglibs/zlm.git
