[submodule "ZEngine"]
	path = ZEngine
	url = https://github.com/bluesillybeard/ZEngine
[submodule "zlm"]
	path = zlm
	url = https://github.com/ziglibs/zlm.git
[submodule "SDL.zig"]
	path = SDL.zig
	url = https://github.com/MasterQ32/SDL.zig.git
